*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #149ddd;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #2eafec;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {

  color: #fff;
  text-decoration: none;
}

#header .profile .social-links .twitter:hover{
  background: cadetblue;
}

#header .profile .social-links .linkedin:hover{
  background: #23049d;
}

#header .profile .social-links .instagram:hover{
 background:  #ce1f6a;
}


#header .profile .social-links .google-plus:hover{
  background: #fb3640;
}

#header .profile .social-links .facebook:hover{
  background: #0061a8;
}



#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color:wheat;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/gadgets.jpg") top center;
  background-size: cover;

}

#hero:before {
  content:"";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 1;
  min-width: 300px;
  margin: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color:#be0000 ;
}

#hero h2{
  color:#1597bb;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#hero h3 {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #be0000;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}



#hero p span {
  color:#149ddd;
  padding-bottom: 4px;
  letter-spacing: 1px;
  
}

#hero button{
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#hero button:hover {
  background: #126e82;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero p{
    font-size: 12px;
    line-height: 12px;
  
  }
}


#about{
  margin:35px 20px 20px 20px;
  
}

#about img{
  
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 50%;
  height: 300px;
  box-shadow: 10px 10px 5px grey;
}

 .portfolio h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  margin-left: 55px;
  margin-bottom: 40px;
  margin-top:40px;
 }

 .portfolio h2:hover{
   color:#e40017;
 }

#about .about-me {
  margin-bottom: 20px;
  border-radius: 50px 20px;
  padding-top:30px;
  box-shadow: 10px 10px 5px grey;
 
}

.skill-text p{
  text-align: center;
  margin: 20px;
}


#skills img{
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px grey;
  margin: 0 auto;


}

.about-me h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  
}

.about-me h2:hover {
 
  color: #c21212;
 
}

.about-me p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-me p:hover{
  background-color: black;
  color:#fff;
}


#skills h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  
  

  
}

.skills h2:hover{
  color: #c21212;
}




/* cards */




.card{
  border-style: none;
}

.card img{
  height: 200px;
  border-radius: 10px 10px 10px 10px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  
}

#card{


  
  height: 300px;
}



/*Footer*/


.page-footer iframe{
  width:100%;
  max-height: 200px;
}

.page-footer .footer-copyright{
  background-color:#151515 ;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-footer {
  background-color:  #1b1717;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}